@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
h1{
    display: flex;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    word-spacing: 20px;
}
footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px; 
    background: #39b54a;
    color: #fff;
    width: 100%;
    text-align: center center;
}